---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
const { title, description, imagePath, link, altText, type } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.{jpeg,jpg,png,gif}')
if (!images[imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`);
---
<div class:list={['border-black', 'border-2', 'rounded-2xl', 'p-3', 'm-3', 'max-w-lg', type]}>
    <h3 class="text-center drop-shadow-[0_2.2px_2.2px_rgba(0,0,0,1)]">{title}</h3>
	<div class="bg-gray-200 mt-3 mb-3 ml-2 mr-2 p-0.5"/>
    <div class="grid grid-cols-2 m-3">
        <body><font color=#000000>{description}</font></body>
        <Image class="rounded-full border-2 border-black mx-auto align-middle" src={images[imagePath]()} alt={altText}/>
    </div>
    <a class="linkbutton" href={link}>Learn more</a>
</div>

<style>
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	h2 {
		font-size: 3rem;
		color: black;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 1em;
	}
    h3 {
        font-size: 2rem;
		color: white;
		
		font-weight: 700;
		line-height: 1;
    }
    body {
        font-size: 1rem;
		color: black;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 1em;
    }
    .linkbutton   {
        color: rgb(var(--accent));
    }
	.linkbutton:hover {
        color: green;
    }
	.card1 {
		background: linear-gradient(rgba(var(--accent), 80%), rgba(var(--accent), 30%));
	}
	.card2 {
		background: linear-gradient(rgba(var(--complement2), 100%), rgba(var(--complement2), 40%));
	}

</style>
